.cart {
    display: flex;   
    position: sticky;
    bottom: 10px;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
    background-color: #241BF9;
    color: white;
    cursor: pointer;
}

.checkout {
    display: flex;
    margin: auto;
    width: 70%;
    margin-top: 70px;
    flex-direction: column;
}

.checkout-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.checkout-header__basket {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__basket {
    display: flex;
    flex-direction: row;
    background-color: #241BF9;
    padding: 10px;
    color: white;
    align-items: center;
    cursor: pointer;
    
}

.header__basket svg {
    margin-right: 10px;
    font-size: 20px;
}

.checkoutDivider-horizontal {
    width: 100%;
    height: 2px;
    background-color: lightgray;
    margin: 40px 0px;
}

.checkoutCart-item {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    margin-bottom: 20px;
}

.checkoutCard-item__header {
    background-color: #241BF9;
    padding: 12px 8px;
    color: white;
    font-size: 20px;
}

.checkoutCard-item__header h5 {
    font-weight: 500;
}

.checkoutCard-item__img img {
    width: 300px;
    border-radius: 10px;
}

.checkoutCard-item__img {
    margin-right: 20px;
}

.checkoutCard-item__details {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.checkoutCard-item__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

}

.checkoutCard-item__buttons {
    display: flex;
    justify-content: space-between;
}

.checkoutCard-item {
    padding: 10px;
    background-color: #241BF9;
    color: white;
    margin: 10px;
    min-width: 100px;
    text-align: center;
}

.checkoutCard-item__delete {
    padding: 10px;
        color: black;
        margin: 10px;
        border: lightcoral 1px solid;
        cursor: pointer;
        display: flex;
}

.basket-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.basket-details__donation {
    background-color: gainsboro;
    color: black;
    padding: 20px;
    border-radius: 5px;
    margin-right: 10px;
}

.donation__input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.donation__input input{
    margin-top: 10px;
    padding: 10px;
    border: none;
    outline: none;
    margin-left: 10px;
    width: 100%;
    margin-right: 10px;
    height: 25px;
}

.donation__input-confirm {
    display: flex;
    text-align: center;
    justify-content: center;    
    padding: 10px;
    background-color: #241BF9;
    color: white;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
    min-width: 130px;
}

.donation__inner {
    display: flex;
    margin-top: 10px;

}

.basket__total {
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    padding: 20px;
    border-radius: 5px;
}

.basket__total-totalPrice {
    display: flex;
    background-color: black;
    color: white;
    padding: 10px;
    width: 200px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.basket__total-pay {
    display: flex;
    background-color: #241BF9;
    color: white;
    padding: 10px;
    width: 200px;
    margin-top: 10px; display: flex;

    justify-content: center;
    cursor: pointer;
}

@media screen and (max-width: 934px) {
    .checkoutCard-item__img img{
        width: 200px;
    }
}

@media screen and (max-width: 800px) {
    .checkoutCard-item__details {
        flex-direction: column;
        align-items: center;
    }

 .checkoutCard-item__img {
    margin-right: 0px;
    justify-content: center;
    display: flex;
 }
    
.checkoutCard-item__img img {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.basket-details {
    flex-direction: column;
}

.basket-details__donation {
    margin-right: 0px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

        .basket__total {
            justify-content: center;
            display: flex;
            align-items: center;
        }

        .basket__total div {
            width: 100%;
        }
}

@media screen and (max-width: 482px) {
    .checkout-header {
        flex-direction: column-reverse;
    }
}

.cartFloating-icon {
    bottom: 10px;
    right: 10px;
    position: fixed;
    background-color: #241BF9;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
}

.cartFloating-icon span {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 15px;
    height: 15px;
    align-items: center;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 100%;
    font-size: 10px;

}