.privacyPolicy-container {
    width: 75%;
    margin: auto;
    margin-top: 50px;
}

.privacyPolicy-header h1 {
    margin-bottom: 30px;
}

.privacyPolicy-body {
    margin-bottom: 40px;
}

.privacyPolicy-body h5 {
    margin-bottom: 20px;
}

.privacyPolicy-body p {
    margin-left: 20px;
}

.privacyPolicy-body span li {
    margin-left: 40px;
}