* {
    -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Old versions of Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */

}

:root {
    --primary-btn-bg: #170CFF;
    --light-gray: #f5f2f2;
    --dark-gray: #dbd9d9;
    --primary-btn-radius: 10px;
    --primary-btn-bg-hover: #9786FA
}



h1 {
    font-size: 35px;
    font-weight: 500;
}

h2 {
    font-size: 30px;
    font-weight: 400;
}

h3 {}

h4 {
    font-size: 20px;
    font-weight: 500;

}

h5 {
    font-size: 18px;
}

input,
input:before,
input:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}






